<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408096567648-om7doets45blqfkni89n7srbgttkncd5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408096567648-om7doets45blqfkni89n7srbgttkncd5</string>
	<key>API_KEY</key>
	<string>AIzaSyCtYbcTywfJ20kTop2d96wY7gmcnZlVXsA</string>
	<key>GCM_SENDER_ID</key>
	<string>408096567648</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dearDiary</string>
	<key>PROJECT_ID</key>
	<string>dear-diary-yasithh</string>
	<key>STORAGE_BUCKET</key>
	<string>dear-diary-yasithh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408096567648:ios:8450289ff96a4ac645ee05</string>
</dict>
</plist>